@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  /* Leave space before anchor when scrolling to 
     avoid overlapping with fixed header */
  scroll-padding-top: 100px;
}

.prose .anchor {
  @apply invisible absolute cursor-pointer no-underline;
  margin-left: -1em;
  padding-right: 0.5em;
}

.anchor:hover {
  @apply visible;
}

.prose .anchor:after {
  @apply text-neutral-300 dark:text-neutral-700;
  content: '#';
}

.prose *:hover > .anchor {
  @apply invisible md:visible;
}

.prose :not(pre) > code {
  @apply whitespace-nowrap rounded-md bg-neutral-500/20 font-medium before:content-none after:content-none;
  padding: 0.15em;
}
